<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-signin">
      <h2 class="form-signin-heading">Inicia Sesión</h2>
      <input type="text" class="input-block-level" placeholder="Email address">
      <input type="password" class="input-block-level" placeholder="Password">
      <label class="checkbox">
        <input type="checkbox" value="remember-me"> Recordar
      </label>
      <button class="btn btn-large btn-primary" type="submit">Acceder</button>
    </form>
  </div>
</div>

