<div class="col-md-6 col-md-offset-3">

	<div class="panel panel-primary">
		<div class="panel-heading">¿Olvidaste tu Contraseña?</div>
		<div class="panel-body">  

			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			<%= devise_error_messages! %>

			<div class="field">
				<label class="form-group">Correo electrónico</label><br>
				<%= f.email_field :email, autofocus: true %>
			</div>

			<div class="actions">
				<button class="btn btn-large btn-success" type="submit">Restaurar contraseña</button>
			</div>
			<% end %>

			<%= render "users/shared/links" %>
		</div>
	</div>
</div>