<p>Hola <%= @resource.email %>!</p>

<p>Para restablecer tu contraseña entra a la siguiente liga:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no pediste cambiar la contraseña, por favor ignora este correo.</p>
<p>No responder este correo.</p>
